body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 320px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

small {
    color: red;
}

.password-box {
    display: flex;
}

.password-box input {
    flex: 1;
}

.password-box button {
    width: 80px;
}

#strength {
    margin-top: 5px;
    font-weight: bold;
}